# Eclipse
/bin
.settings
.classpath
.project

# sbt
.cache-*
target/
src_managed/
lib_managed/
project/project/
project/target/
project/build.properties

# Development
/_build
buildinfo.*

# Application
application.conf
cache.conf

*.class
*.log
