# Eclipse
/bin
.settings
.classpath
.project

# sbt
.cache-*
target/
src_managed/
lib_managed/
project/project/
project/target/

# Development
/_build
/_downloads
buildinfo.*

# Application
maelstrom-downloader.prefs
downloads.json

*.class
*.log
